/* =================HOMEPAGE============ */

#homepage .bannerTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}

#homepage .bannerTop .sildeItem {
    padding: 115px 0;
    display: flex;
}

#homepage .bannerTop .sildeItem .leftSide,
#homepage .bannerTop .sildeItem .rightSide {
    width: 50%;
}

#homepage .bannerTop .sildeItem .rightSide {
    display: flex;
    align-items: center;
}

#homepage .bannerTop .sildeItem .rightSide img {
    width: 100%;
    object-fit: cover;
}

#homepage .bannerTop .sildeItem .leftSide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#homepage .bannerTop .sildeItem .leftSide .subtitle {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

#homepage .bannerTop .sildeItem .leftSide .title {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 72px;
    font-weight: 700;
    line-height: 95px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

#homepage .bannerTop .leftSide .listChannel {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
}

#homepage .bannerTop .listChannel .channel {
    color: #fff;
    text-shadow: 0px 1.5025831460952759px 1.5025831460952759px
        rgba(0, 0, 0, 0.25);
    font-size: 24.041px;
    font-weight: 500;
    line-height: 31.93px; /* 132.812% */
}

#homepage .bannerTop .listChannel .channel.active {
    font-weight: 700;
}

/* clietBanner */
#homepage .clientBanner {
    padding: 48px 0;
    overflow: hidden;
}

#homepage .clientBanner .boxScroll {
    width: 200%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    animation: loop linear 15s infinite;
}

#homepage .clientBanner .boxScroll .clientLogoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage .clientBanner .boxScroll .clientLogoBox .clientLogo {
    filter: grayscale();
    height: 24px;
    object-fit: contain;
}

@keyframes loop {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* service */
#homepage .services {
    background: var(
        --linear-1,
        linear-gradient(286deg, #01143f 43.98%, #014c8c 82.08%)
    );
    padding: 72px 0 96px;
    overflow: hidden;
}

#homepage .services .heading.t1 {
    margin-bottom: 32px;
}

#homepage .services .boxContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 78px;
    row-gap: 32px;
    margin-bottom: 32px;
}

#homepage .services .boxContent .item {
    padding: 24px 0 32px;
}

#homepage .services .boxContent .item .desc {
    margin-top: 18px;
    margin-bottom: 18px;
}

/* effective */
#homepage .effective {
    background: var(--bg-color);
    padding: 84px 0 255px;
    overflow: hidden;
}

#homepage .effective .boxContent {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    gap: 20px;
}

#homepage .effective .boxContent .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#homepage .effective .boxContent .item-title {
    width: 100%;
    position: relative;
    color: #fff;
    font-family: "Moulpali";
    font-size: 166.32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 166.32px;
    padding: 100px 0;
    margin: 40px 0;
}

#homepage .effective .boxContent .item-title .bg-img {
    width: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#homepage .effective .boxContent .item-title .label {
    width: 130%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#homepage .effective .boxContent .item-title .add {
    font-size: 133.056px;
}
#homepage .effective .boxContent .item-title .percent {
    font-size: 49.896px;
}

#homepage .effective .boxContent .heading.t2 {
    margin-bottom: 24px;
}

#homepage .effective .boxContent .item:nth-child(2) .item-title {
    transform: scale(0.7);
}
#homepage .effective .boxContent .item:nth-child(3) .item-title .bg-img {
    left: 60%;
}

#homepage .effective .boxContent .item:nth-child(2) {
    animation: moveUp linear 20s infinite;
}
#homepage .effective .boxContent .item:not(:nth-child(2)) {
    animation: moveDown linear 20s infinite;
}

@keyframes moveDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(150px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(150px);
    }
}

/* feedback */
#homepage .feedback {
    display: flex;
    align-items: center;
    padding: 96px 0;
}

#homepage .feedback .feedbackSilde .boxContent {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    gap: 40px;
}

#homepage .feedback .feedbackSilde .boxContent .leftSide {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 8px 0;
}

#homepage .feedback .feedbackSilde .boxContent .leftSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0;
}

#homepage .feedback .feedbackPagination {
    bottom: 100px;
    left: -105px;
}

#homepage .feedback .feedbackPagination .swiper-pagination-bullet {
    background-color: #d9d9d9;
}
#homepage .feedback .feedbackPagination .swiper-pagination-bullet-active {
    background-color: #8a93a0;
}
#homepage .bannerTop .swiper-pagination-bullet-active {
    background-color: #06DAFF;
}

/* story */
#homepage .story {
    background: var(
        --background-fill-1,
        linear-gradient(286deg, #01143f 43.98%, #014c8c 82.08%)
    );
    padding: 96px 0;
}

#homepage .story .heading.t1 {
    margin-bottom: 48px;
}

#homepage .story .listItem .thumb {
    display: block;
    width: 100%;
    aspect-ratio: 1/0.8;
}

#homepage .story .listItem .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#homepage .story .buttonType1 {
    margin-top: 78px;
}

#homepage .story .listItem .heading.t3 {
    display: block;
    margin: 40px 0 20px;
}

#homepage .story .listItem .desc {
    margin-bottom: 20px;
}

#homepage .story .story-button-next,
#homepage .story .story-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 2;
}
#homepage .story .story-button-next img,
#homepage .story .story-button-prev img {
    width: 100%;
    color: #828c99;
}

#homepage .story .story-button-next {
    right: -60px;
}
#homepage .story .story-button-prev {
    left: -60px;
}

/* adminCombine */

#homepage .adminCombine {
    background: radial-gradient(
        1212.9% 47.07% at 54.17% 70.24%,
        #01143f 9.76%,
        #014c8c 90.42%
    );
    padding: 72px 0;
}

#homepage .adminCombine .buttonType1 {
    margin-top: 30px;
}

@media screen and (max-width: 1200px) {
    #homepage .effective .boxContent {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    #homepage .effective .boxContent .item {
        transform: translate(0) !important;
        animation: unset !important;
    }
    #homepage .effective .boxContent .item:nth-child(3) {
        transform: translateX(50%) !important;
    }
    #homepage .story .story-button-next,
    #homepage .story .story-button-prev {
        display: none;
    }
}

@media screen and (max-width: 968px) {
    #homepage .feedback .feedbackPagination {
        bottom: var(--swiper-pagination-bottom,28px);
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    
    #homepage .effective .boxContent {
        grid-template-columns: 70%;
        justify-content: center;
        gap: 40px;
    }
    #homepage .bannerTop .sildeItem .leftSide .subtitle {
        margin: 0 5px;
    }

    #homepage .effective .boxContent .item:nth-child(3) {
        transform: translateX(0%) !important;
        animation: unset;
    }
    #homepage .effective .boxContent .item-title {
        padding: 40px 0;
    }
    #homepage .effective .boxContent .item:nth-child(1) {
        margin-top: 80px;
    }
    #homepage .bannerTop .sildeItem {
        flex-direction: column-reverse;
        gap: 40px;
    }

    #homepage .bannerTop .sildeItem .leftSide,
    #homepage .bannerTop .sildeItem .rightSide {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #homepage .services .boxContent {
        grid-template-columns: 1fr 1fr;
    }
    #homepage .services .buttonType1 {
        margin: 0 auto;
    }

    #homepage .feedback .feedbackSilde .boxContent {
        grid-template-columns: 1fr;
    }

    #homepage .feedback .feedbackSilde .boxContent .rightSide {
        width: 80%;
        margin: 0 auto;
    }

    #homepage .feedback .feedbackSilde .boxContent .leftSide {
        margin: 0 auto;
        width: 50%;
        border-radius: 8px;
    }

    #homepage .feedback .feedbackSilde .boxContent .leftSide img {
        border-radius: 8px;
    }

    #homepage .heading.t1 {
        text-align: center;
    }

    #homepage .bannerTop .sildeItem {
        padding: 40px 0;
    }

    #homepage .effective .boxContent .item:nth-child(1) {
        margin-top: 20px;
    }

    #homepage .effective,
    #homepage .adminCombine,
    #homepage .story {
        padding: 40px 0;
    }

}

@media screen and (max-width: 425px) {
    #homepage .services .boxContent {
        grid-template-columns: 1fr;
    }

    #homepage .services .boxContent .item {
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }
    #homepage .services .boxContent .item .buttonType2 {
        margin: 0 auto;
    }

    #homepage .adminCombine .buttonType1 {
        margin: 0 auto;
        margin-top: 30px;
    }

    
}
